.navItem {

    font-size: 40px;
    width: 96px;
    margin-bottom: 15px;
    float: left;

}

.navItem:hover{

    background-color: gray;
    cursor: pointer;
}


.navItemLogo {
    position: relative;
    float: left;
    width: 90px;
    text-align:center;
    color:white;

}

.navItemText {

    position: relative;
    float: left;
    width: 100px;
    font-size: 9px;
    font-family: Arial;
    text-align:center;
    color:white

}

.myGrid {
    width: 500px;
    height: 250px;
}