<div class="panel panel-default" style="float: left; width: 250px; margin: 10px; font-family: tahoma, verdana, arial, sans-serif">

    <div class="panel-heading">
        <!-- ngIf: reportType == 'participate' -->
        <!-- ngIf: reportType == 'complete' -->
        <h3 class="panel-title ng-scope"># of Students who complete a PBL Project </h3>
        <!-- end ngIf: reportType == 'complete' -->
        <!-- ngIf: reportType == 'award' -->
    </div>
    <div class="panel-body">

        <div style="position:relative; float: left; width:228px;">
            <div style="position: relative; float: right; width: 120px;">
                <span style="float: right; font-weight: bold">Target</span>
            </div>

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left">African American</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar66" role="progressbar" style="width: 63.4%; background-image: none; background-color: lightgrey;" aria-valuenow="63.4" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="63%" aria-labelledby="progressbar" ng-transclude="" value="63" ng-class="{'progressBar33': rttObject.africanAmerican.percentage<33, 'progressBar66': rttObject.africanAmerican.percentage>=33 &amp;&amp; rttObject.africanAmerican.percentage<66, 'progressBar100': rttObject.africanAmerican.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
                  %63.4 (387 in 610 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->
            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left">Hispanic</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar100" role="progressbar" style="width: 67.2%; background-image: none; background-color: lightgrey;" aria-valuenow="67.2" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="67%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.hispanic.percentage" ng-class="{'progressBar33': rttObject.hispanic.percentage<33, 'progressBar66': rttObject.hispanic.percentage>=33 &amp;&amp; rttObject.hispanic.percentage<66, 'progressBar100': rttObject.hispanic.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
 %67.2 (509 in 758 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left">Asian</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar100" role="progressbar" style="width: 85.6%; background-image: none; background-color: lightgrey;" aria-valuenow="85.6" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="86%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.asian.percentage" ng-class="{'progressBar33': rttObject.asian.percentage<33, 'progressBar66': rttObject.asian.percentage>=33 &amp;&amp; rttObject.asian.percentage<66, 'progressBar100': rttObject.asian.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %85.6 (320 in 374 )
                  </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left">White</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar100" role="progressbar" style="width: 81.6%; background-image: none; background-color: lightgrey;" aria-valuenow="81.6" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="82%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.white.percentage" ng-class="{'progressBar33': rttObject.white.percentage<33, 'progressBar66': rttObject.white.percentage>=33 &amp;&amp; rttObject.white.percentage<66, 'progressBar100': rttObject.white.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %81.6 (186 in 228 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->


            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left">Multi-Racial</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar100" role="progressbar" style="width: 70.8%; background-image: none; background-color: lightgrey;" aria-valuenow="70.8" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="71%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.multi.percentage" ng-class="{'progressBar33': rttObject.multi.percentage<33, 'progressBar66': rttObject.multi.percentage>=33 &amp;&amp; rttObject.multi.percentage<66, 'progressBar100': rttObject.multi.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %70.8 (17 in 24 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left">LEP</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar100" role="progressbar" style="width: 76.6%; background-image: none; background-color: lightgrey;" aria-valuenow="76.6" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="77%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.LEP.percentage" ng-class="{'progressBar33': rttObject.LEP.percentage<33, 'progressBar66': rttObject.LEP.percentage>=33 &amp;&amp; rttObject.LEP.percentage<66, 'progressBar100': rttObject.LEP.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %76.6 (196 in 256 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left"> Econ. Dis.</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span class="dashboardTargetSpan ng-scope">%91</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar66" role="progressbar" style="width: 60.4%; background-image: none; background-color: lightgrey;" aria-valuenow="60.4" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="60%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.disadvantaged.percentage" ng-class="{'progressBar33': rttObject.disadvantaged.percentage<33, 'progressBar66': rttObject.disadvantaged.percentage>=33 &amp;&amp; rttObject.disadvantaged.percentage<66, 'progressBar100': rttObject.disadvantaged.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %60.4 (58 in 96 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left"> Special Ed.</span>
                    <div style="position: relative; float: right;">
                        <!-- ngIf: reportType == 'participate' -->
                        <!-- ngIf: reportType == 'complete' --><span  class="dashboardTargetSpan ng-scope">%89</span><!-- end ngIf: reportType == 'complete' -->
                        <!-- ngIf: reportType == 'award' -->
                    </div>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar66" role="progressbar" style="width: 60.8%; background-image: none; background-color: lightgrey;" aria-valuenow="60.8" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="61%" aria-labelledby="progressbar" ng-transclude="" value="rttObject.specialEducationProgram.percentage" ng-class="{'progressBar33': rttObject.specialEducationProgram.percentage<33, 'progressBar66': rttObject.specialEducationProgram.percentage>=33 &amp;&amp; rttObject.specialEducationProgram.percentage<66, 'progressBar100': rttObject.specialEducationProgram.percentage>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %60.8 (59 in 97 )
                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

            <!--start-->
            <div style="position: relative; float: left; width: 220px; height: 40px;margin:2px">

                <div style="position: relative; float: left; width: 220px; height: 20px;">
                    <span style="position: relative; float: left"> Total Progress</span>
                </div>
                <div style="position: relative; float: left; width: 220px; height: 30px;">
                    <div style="position: relative; float: left; width: 220px; height: 25px; ">

                        <div class="progress ng-isolate-scope" ng-transclude="" aria-labelledby="" ng-init="" style="background-image: none; background-color: lightgrey" max="100">

                            <!--I hacked ui-bootstrap-tpls.js for this, I could not find any other cleaner way to do it -->
                            <!--look into this commit-->
                            <!--2fb5ad14de8749757edaf0dda5da3b3f0f4a487c-->
                            <div class="progress-bar ng-isolate-scope progressBar100" role="progressbar" style="width: 71.5%; background-image: none; background-color: lightgrey;" aria-valuenow="71.50" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="72%" aria-labelledby="progressbar" ng-transclude="" value="((rttObject.totalSuccessful*100)/totalStudent).toFixed(2)" ng-class="{'progressBar33': ((rttObject.totalSuccessful*100)/totalStudent).toFixed(2)<33, 'progressBar66': ((rttObject.totalSuccessful*100)/totalStudent).toFixed(2)>=33 &amp;&amp; ((rttObject.totalSuccessful*100)/totalStudent).toFixed(2)<66, 'progressBar100': ((rttObject.totalSuccessful*100)/totalStudent).toFixed(2)>=66}">
                <span style="color:black; font-weight: bold; white-space:nowrap;" class="ng-binding ng-scope">
              %71.50 (1455 in 2035 )

                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end-->

        </div>
    </div>
</div>

<div class="panel panel-default" style="float: left; width: 300px; margin: 10px; font-family: tahoma, verdana, arial, sans-serif">

    <div class="panel-heading" style="text-align: center">
        <h3 class="panel-title">Level One Submission </h3>
    </div>
    <div class="panel-body">

        <div style="position:relative; float: left; width:270px;">
            <div style="position: relative; float: right; width: 270px;">
                <span style="position: relative; float: right; font-weight: bold ">Approved</span>
                <span style="position: relative; float: right;margin-right: 15px;font-weight: bold ">Submitted</span>

            </div>

            <!--start-->
            <!-- ngRepeat: report in loneReport --><div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">HS Science</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">0</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">0</span>
                </div>
            </div>

        </div><!-- end ngRepeat: report in loneReport --><div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">Math</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">3</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">11</span>
                </div>
            </div>

        </div>
            <div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">Social Studies</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">0</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">0</span>
                </div>
            </div>

        </div>
            <div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">ELA</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">0</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">0</span>
                </div>
            </div>

        </div>
            <div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">Other STEM Courses</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">0</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">0</span>
                </div>
            </div>

        </div>
            <div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">MS Science</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">2</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">6</span>
                </div>
            </div>

        </div>
            <div style="position: relative; float: left; width: 270px; height: 20px;margin:2px"  class="ng-scope">

            <div style="position: relative; float: left; width: 270px; height: 20px;">
                <span style="position: relative; float: left" class="ng-binding">All</span>
                <div style="position: relative; float: right;">
                    <span style="position: relative; float: right; width: 40px; " class="ng-binding">5</span>
                    <span style="position: relative; float: right;margin-right: 70px; " class="ng-binding">17</span>
                </div>
            </div>

        </div>


        </div>
    </div>
</div>