<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>My Web Page</title>
<LINK href="../../../Desktop/WebContent/theme/Master.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
	<div id="header">
		<table style="width:100%">
			<tbody>
				<tr>
					<td style="text-align:left; width:80px;">STEM <font color="red">SOS&trade;</font></td>
					<td style="text-align:center; width:26px;"><img src="../../../Desktop/WebContent/images/blueAvatar.png" height="25" width="25"></img></td>
					<td style="text-align:center; width:26px;">&nbsp;pbl.admin@harmonytx.org</td>
					<td style="text-align:left;">
						<div id="nav1">
							<ul>
								<li><a href="">Teacher</a></li>
								<li><a href="">San Antonio</a></li>
								<li><a href="">Laredo</a></li>
							</ul>
						</div>
						<div id="nav2">
							<ul>
								<li><a href="" class="selected">High School</a></li>
								<li><a href="">Middle School</a></li>
								<li><a href="">All (High + Middle)</a></li>							
							</ul>
						</div>
					</td>
					<td style="text-align:right;">Logout</td>
				</tr>
			</tbody>
		</table>
	</div>	
	<div id="sideNav">
		<ul>				
			<li><a href="#" class="selected"><img src="../../../Desktop/WebContent/images/Home-128.png" height="36" width="36"></img><br>Dashboard</a></li>
			<li><a href="#"><img src="../../../Desktop/WebContent/images/Bag-Laptop-128.png" height="36" width="36"><br>Contracted Schools</a></li>
			<li><a href="#"><img src="../../../Desktop/WebContent/images/Home-128.png" height="36" width="36"><br>Level One<br> Submission</a></li>
			<li><a href="#"><img src="../../../Desktop/WebContent/images/Home-128.png" height="36" width="36" ><br>E-portfolio<br>Submission</a></li>
			<li><a href="#"><img src="../../../Desktop/WebContent/images/user-icon.png" height="28" width="28"><br>My Students</a></li>
			<li><a href="#"><img src="../../../Desktop/WebContent/images/Graduate-Hat-128.png" height="36" width="36"><br>School Roster</a></li>
		</ul>				
	</div>
	<div id="section">
		<div class="Table">
		    <div class="Title">
		        <p>High School Reports, 5 unassigned student in High School(s).</p>
		    </div>
		    <div class="Heading">
		        <div class="Cell">
		            <p># of Students who completed PBL Project</p>
		        </div>
		        <div class="Cell">
		            <p># of Students to participate in STEM Competitions</p>
		        </div>
		        <div class="Cell">
		            <p># of Students to win awards in STEM Competitions</p>
		        </div>
		        <div class="Cell1">
		            <p>Level 1 Submission</p>
		        </div>
		        <div class="Cell1">
		            <p>E-portfolio Submission</p>
		        </div>
		    </div>
		    <div class="Row">
		        <div class="Cell">
				<table style="width:100%;">					
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th Class="Target">Target</th>
						</tr>
						<tr>
							<td>African American</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Hispanic</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Asian</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>White</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Mutli-Racial</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>LEP</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Econ. Dis.</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Special Ed.</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Total Progress</div>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
					</tbody>
				</table>		        
		        </div>
		        <div class="Cell">
				<table style="width:100%;">					
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th class="Target">Target</th>
						</tr>
						<tr>
							<td>African American</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100"></progress></td>
						</tr>
						<tr>
							<td>Hispanic</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Asian</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>White</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Mutli-Racial</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>LEP</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Econ. Dis.</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Special Ed.</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Total Progress</div>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
					</tbody>
				</table>		        		        	
		        </div>
		        <div class="Cell">
				<table style="width:100%;">					
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th Class="Target">Target</th>
						</tr>
						<tr>
							<td>African American</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Hispanic</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Asian</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>White</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Mutli-Racial</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>LEP</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"> <progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Econ. Dis.</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Special Ed.</td>
							<td Class="Target">%91</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
						<tr>
							<td>Total Progress</div>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2"><progress value="80" max="100" style="width:100%;"></progress></td>
						</tr>
					</tbody>
				</table>		        
		        </div>
		        <div class="Cell">
					<table style="width:100%;">
						<tbody>
							<tr>
								<td style="text-align:left;">&nbsp;</td>
								<td class="Level1Sub"><strong>Submitted</strong></td>
								<td class="Level1App"><strong>Approved</strong></td>
							</tr>
							<tr>
								<td style="text-align:left;">HS Science</td>
								<td class="Level1Sub">5</td>
								<td class="Level1App">4</td>
							</tr>
							<tr>
								<td style="text-align:left;">Math</td>
								<td class="Level1Sub">5</td>
								<td class="Level1App">1</td>
							</tr>
							<tr>
								<td style="text-align:left;">Social Studies</td>
								<td class="Level1Sub">0</td>
								<td class="Level1App">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">ELA</td>
								<td class="Level1Sub">0</td>
								<td class="Level1App">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">Other STEM Courses</td>
								<td class="Level1Sub">0</td>
								<td class="Level1App">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">MS Science</td>
								<td class="Level1Sub">0</td>
								<td class="Level1App">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">All</td>
								<td class="Level1Sub">10</td>
								<td class="Level1App">5</td>
							</tr>
						</tbody>
					</table>		        
		        </div>
		        <div class="Cell">
					<table style="width:100%;">
						<tbody>
							<tr>
								<td style="text-align:left;">&nbsp;</td>
								<td class="EPSub"><strong> Submitted </strong></td>
								<td class="EPApp"><strong> Approved </strong></td>
							</tr>
							<tr>
								<td style="text-align:left;">&nbsp;HS Science</td>
								<td class="EPSub">3</td>
								<td class="EPApp">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">&nbsp;Math</td>
								<td class="EPSub">0</td>
								<td class="EPApp">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">&nbsp;Other STEM Courses</td>
								<td class="EPSub">0</td>
								<td class="EPApp">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">&nbsp;MS Science</td>
								<td class="EPSub">0</td>
								<td class="EPApp">0</td>
							</tr>
							<tr>
								<td style="text-align:left;">&nbsp;All</td>
								<td class="EPSub">3</td>
								<td class="EPApp">0</td>
							</tr>
						</tbody>
					</table>
				</div>
		    </div>
		</div>	
		<div class="Table">
		    <div class="Title">
		        <p>STEM Contest &amp; Activities</p>
		    </div>
		    <div class="Row">
		        <div class="Cell">
					<div class="STEMTable">
						<div class="STEMTableBody">
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AAPT F=MA
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AEOP Junior Solar Sprint
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;CyberPatriot
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;Egg Drop
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
						</div>
					</div>
				</div>
		        <div class="Cell">
					<div class="STEMTable">
						<div class="STEMTableBody">
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AAPT F=MA
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AEOP Junior Solar Sprint
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;CyberPatriot
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;Egg Drop
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
						</div>		            
					</div>		            
		        </div>
		        <div class="Cell">
					<div class="STEMTable">
						<div class="STEMTableBody">
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AAPT F=MA
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AEOP Junior Solar Sprint
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;CyberPatriot
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;Egg Drop
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
						</div>		            
					</div>		            
		        </div>
		        <div class="Cell">
					<div class="STEMTable">
						<div class="STEMTableBody">
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AAPT F=MA
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AEOP Junior Solar Sprint
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;CyberPatriot
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;Egg Drop
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
						</div>		            
					</div>		            
		        </div>
		        <div class="Cell">
					<div class="STEMTable">
						<div class="STEMTableBody">
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AAPT F=MA
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;AEOP Junior Solar Sprint
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;CyberPatriot
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
							<div class="STEMTableRow">
								<div class="STEMTableCell">
									<span>
										&nbsp;Egg Drop
									</span>
								</div>
								<div class="STEMTableCell_2">
									&nbsp;0
								</div>
							</div>
						</div>
					</div>		            
		        </div>
		    </div>
		</div>	
	</div>
</div>
</body>
</html>